<div class="container my-5">
    <h1 class="mb-3">{{doctorDetails.fullName}} принимает в поликлиниках:</h1>

    <table class="table" *ngIf="polyclinics && polyclinics.length > 0">
        <thead>
            <tr>
                <th>№</th>
                <th>Id</th>
                <th>Адрес</th>
                <th>Координаты</th>
                <th>Id города</th>
                <th>Город</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let polyclinic of polyclinics; let i=index">
                <td>{{ i+1 }}</td>
                <td>{{ polyclinic.id }}</td>
                <td>{{ polyclinic.address }}</td>
                <td>{{ polyclinic.location }}</td>
                <td>{{ polyclinic.cityId }}</td>
                <td>{{ polyclinic.cityName }}</td>
                <td><a (click)="deleteDoctorPolyclinic(doctorDetails.id, polyclinic.id)" 
                    class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="!polyclinics || polyclinics.length <= 0">Поликлиники не найдены</p>

    <div class="col-3">
        <h4 class="mb-3">Выберите поликлинику:</h4>
        <select class="form-select mb-3" aria-label=".form-select example"
        (change)="ChangeValue($event)">
        <option selected disabled>Не выбрано</option>
            <option *ngFor="let polyclinic of allPolyclinics" [value]="polyclinic.id">{{polyclinic.address}}</option>
        </select>
        <a (click)="addDoctorPolyclinic()" class="btn btn-primary">Добавить</a>
    </div>
    
</div>