<div class="container my-5">
    <h2 class="mb-3">Доктор: {{doctorDetails.fullName}}</h2>
    <h2 class="mb-3">Специализации доктора:</h2>

    <table class="table" *ngIf="specializations && specializations.length > 0">
        <thead>
            <tr>
                <th>№</th>
                <th>Id</th>
                <th>Специализация</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let specialization of specializations; let i=index">
                <td>{{ i+1 }}</td>
                <td>{{ specialization.id }}</td>
                <td>{{ specialization.name }}</td>
                <td><a (click)="deleteDoctorSpecialization(doctorDetails.id, specialization.id)" 
                    class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="!specializations || specializations.length <= 0">Специализации не найдены</p>
    
    <div class="col-3">
        <h4 class="mb-3">Выберите специализацию:</h4>
        <select class="form-select mb-3" aria-label=".form-select example"
        (change)="ChangeValue($event)">
        <option selected disabled>Не выбрано</option>
            <option *ngFor="let specialization of allSpecializations" [value]="specialization.id">{{specialization.name}}</option>
        </select>
        <a (click)="addDoctorSpecialization()" class="btn btn-primary">Добавить</a>
    </div>
    
</div>