<div class="container my-5">
    <h2 class="mb-3">Редактирование доктора</h2>

    <div class="row">
        <div class="col-5">
            <form #form="ngForm" (ngSubmit)="updateDoctor()">

                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" readonly
                    name="id" [(ngModel)]="doctorDetails.id">
                </div>

                <div class="mb-3">
                    <label for="fullName" class="form-label">Полное имя</label>
                    <input type="text" class="form-control" name="fullName" 
                    [(ngModel)]="doctorDetails.fullName" #fullName="ngModel" required/>
                    <div [hidden]="fullName.valid || fullName.untouched" class="alert alert-danger">
                      Введите имя
                    </div>
                </div>

                <div class="mb-3">
                    <label for="id" class="form-label">Фото</label>
                    <div>
                        <div *ngIf="photoAvailability">
                            <img src="{{baseApiUrl}}{{doctorDetails.photo}}" 
                        alt="photo" class="object-fit_cover size-170">
                        </div>
                        <!-- <input type="file" id="img" accept="image/*" (change)="onFileSelected($event)" class="form-control"/> -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                    <div class="col-1">
                      <button type="button" class="btn btn-danger" 
                      (click)="deleteDoctor(doctorDetails.id)">Удалить</button>
                    </div>
                </div>
                  
              </form>
        </div>
    </div>
    
</div>